extends layoutMain.pug

block title
    title Veterinary Clinic | Main page

block titleHeader
    h1 TODO LIST
    a.btn.btn-secondary.btn-lg(href="/page2/") New page

block content

        div
            a.btn.btn-secondary.btn-lg &#10133;            
            a.btn.btn-secondary.btn-lg &#10000;
            a.btn.btn-secondary.btn-lg &#128465;
            a.btn.btn-secondary.btn-lg &#128270;
        div
            table.table.table-hover.table-theme-dark.mt-5
                thead
                    tr
                        th #
                        th Time
                        th NameOwner
                        th NumberOwner
                        th NameAnimal
                        th TypeAnimal
                        th Service
                        th Price
                        th Actions
                tbody
                        tr
                            td
                            td 
                            td.name.box
                                span 
                            td.name.box
                                span 
                            td.name.box
                                span 
                            td 
                            td 
                            td 
                            td
