extends layoutMain.pug

block title
    title Vet Clinic | Main page

block titleHeader
    h1 Vet Clinic

block content

    .container-fluid     
           
        - var dateToday = new Date().toISOString().split('T')[0]
        form(method="POST", action="/add" )
            .form-row.justify-content-center                       
                .form-group.col-sm-4
                    label Дата
                    input.form-control(name = "Date", type = "date", value = dateToday )
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Время
                    input.form-control(name = "Time", type = "time", require)
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label ФИО
                    input.form-control(name = "NameOwner", type = "text", placeholder = "Иванов Иван Иванович", require)
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Номер телефона
                    input.form-control(name = "NumberOwner",id = "phone", placeholder = "+7 (999) 999-99-99", require)
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Тип животного 
<<<<<<< HEAD
                    select.form-control(name = "NameAnimal")
=======
                    select.form-control(name = "IDTypeAnimal")
>>>>>>> Maria
                        each item in typeAnimals 
                                option(value = item.ID, selected) #{item.Name}
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Кличка
<<<<<<< HEAD
                    input.form-control(name = "IDTypeAnimal")
=======
                    input.form-control(name = "NameAnimal")
>>>>>>> Maria
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Услуга
                    select.form-control(name = "IDService", id="selectService") 
                        each item in services    
                            option(value=item.ID) #{item.Name}                             
                .form-group.col-sm-4
                    label Цена
                    input.form-control(name = "Price", type = "text",id="inputService")

            .form-row.justify-content-center
                input.btn.btn-secondary.form-control.col-sm-6(type="submit", value="Add")                              

    