extends layoutMain.pug

extends layoutMain.pug

block title
    title Veterinary Clinic | Main page

block titleHeader
    h1 Veterinary Clinic

block content
    .container-fluid 
        - var dateToday = new Date().toISOString().split('T')[0]
            form(method="POST", action="/add")   
                .form-row.justify-content-center    
                    .form-group.col-sm-6
                        label Time
                        input.form-control(name="Time", type="time", required)
                .form-row.justify-content-center
                    .form-group.col-sm-3
                        label NameOwner
                        input.form-control(name="NameOwner", required)
                    .form-group.col-sm-3
                        label NumberOwner
                        input.form-control(name="NumberOwner", required)
                    .form-group.col-sm-3
                        label NameOwner
                        input.form-control(name="NameAnimal", required)       
                .form-row.justify-content-center
                        label.col-sm-3 TypeAnimal
                        select.col-sm-3.form-control(name="TypeAnimal")
                            each item in TypeAnimals   
                                option(value=item.id) 
                 .form-row.justify-content-center
                        label.col-sm-3 Service
                        select.col-sm-3.form-control(name="Service")
                            each item in Services   
                                option(value=item.id) 
                        label.col-sm-3 Price : 
                .form-row.justify-content-center.mt-5
                        input.btn.btn-secondary.form-control.col.sm-6(type="submit", value="Add")

        div
            a.btn.btn-secondary.btn-lg(href="/add/") &#10133;            
            a.btn.btn-secondary.btn-lg(href="/edit/") &#10000;
            a.btn.btn-secondary.btn-lg(href="/delete/") &#128465;
            a.btn.btn-secondary.btn-lg(href="/find/") &#128270;;
        div
            table.table.table-hover.table-theme-dark.mt-5
                thead
                    tr
                        th #
                        th Time
                        th NameOwner
                        th NumberOwner
                        th NameAnimal
                        th TypeAnimal
                        th Service
                        th Price
                        th Actions
                tbody
                        tr
                            td
                            td 
                            td.name.box
                                span 
                            td.name.box
                                span 
                            td.name.box
                                span 
                            td 
                            td 
                            td 
                            td
                                div
                                    a.btn.btn-secondary.btn-lg(href="/get/") &#9998;
                                    a.btn.btn-secondary.btn-lg(href="/delete/") &#128465;